<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StellarDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>97019FD51D054ECD00FD6644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97019FDE1D054ECD00FD6644</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97BE88BD1CDDDAD000240523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97BE88D11CDDDAD000240523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97BE88DC1CDDDAD000240523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
